@model WebApplication3.Models.NR

@{
    ViewBag.Title = "Details";
}
<br />
<br />

<h2>&emsp;&emsp; &emsp; Details : </h2>
<br />
<br />


<div>


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reference_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Societe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Societe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nature_ter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nature_ter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zonage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zonage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indice_Equ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indice_Equ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voirie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voirie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NR_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NR_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHAPE_STAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHAPE_STAr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHAPE_STLe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHAPE_STLe)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OBJECTID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
